<div class="page-header">
  <h1>Email Messages</h1>
</div>

<div class="panel panel-default">
  <table class="table table-hover">
    <thead>
      <tr>
        <th>TMS ID</th>
        <% let clazz = sort == 'ASC' ? 'glyphicon glyphicon-arrow-up' : 'glyphicon glyphicon-arrow-down' %>
        <th id="date_sent_col">
          <a href="/saved_messages?sort=<%= sort_next %>" class="sorter">Date Sent
          <span class="<%= clazz %>" aria-hidden="true"></span></a>
        </th>
        <th>Subject</th>
      </tr>
    </thead>
    <tbody>
      <% data.map(function(d){ %>
        <tr onclick="location.href='/e/<%= d.messageId %>'" style="cursor: pointer;">
          <td><%= d.messageId %></td>
          <td><%= d.date %></td>
          <td><%= d.subject %></td>
        </a></tr>
      <%})%>
    </tbody>
  </div>
</div>
