<div class="page-header">
  <h1>SMS Messages</h1>
</div>

<div class="panel panel-default">
  <table class="table table-hover">
    <tr>
      <th>TMS ID</th>
      <% let clazz = sort == 'ASC' ? 'glyphicon glyphicon-arrow-up' : 'glyphicon glyphicon-arrow-down' %>
      <th id="date_sent_col">
        <a href="/saved_sms_messages?sort=<%= sort_next %>" class="sorter">Date Sent
        <span class="<%= clazz %>" aria-hidden="true"></span></a>
      </th>
      <th>Body</th>
    </tr>
    <% data.map(function(d){ %>
      <tr onclick="location.href='/s/<%= d.messageId %>'" style="cursor: pointer;">
        <td><%= d.messageId %></td>
        <td><%= d.date %></td>
        <td><%= d.body %></td>
      </tr>
    <%})%>
  </div>
</div>
