<% include partials/header%>
<% include partials/navbar%>
<% const unique = [...new Set(data.map(r => r.email))] %>
  <div class="container">
    <div class="page-header">
      <h1>Email Messages for <%= unique.join(', ') %></h1>
    </div>

    <div class="panel panel-default">
      <table class="table table-hover">
        <thead>
          <tr>
            <th>TMS ID</th>
            <th>Date Sent</th>
            <th>Subject</th>
            <% if (unique.length > 1 ){ %>
              <th>Email</th>
            <% } %>
          </tr>
        </thead>
        <tbody>
          <% data.map(function(d){ %>
            <tr onclick="location.href='/e/<%= d.messageId %>'" style="cursor: pointer;">
              <td><%= d.messageId %></td>
              <td><%= d.date %></td>
              <td><%= d.subject %></td>
              <% if (unique.length > 1 ){ %>
                <td><%= d.email %></td>
              <% } %>
            </a></tr>
          <%})%>
        </tbody>
      </div>
    </div>
  </div>
<% include partials/footer%>